/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.repl
.DS_Store
*.org
!todo.org
\#*\#
.\#*
.nrepl-port
.emacs.*
/out
/resources/public/scripts/app.js
/resources/public/scripts/app.js.map
/resources/public/scripts/*
!pixi.dev.js
/resources/assets