/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.repl
.DS_Store
*.org
!todo.org
\#*\#
.\#*
.nrepl-port
.emacs.*
/out
/resources/public/js/compiled/*
/figwheel_server.log
/resources/assets
/resources/public/vendor/js/howler.js/*
!howler.min.js
/resources/public/vendor/js/pixi.js/*
/resources/public/vendor/js/pixi.js/bin/*
!pixi.js
